/*============== MAIN ==================*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-size: 100%;
    background-image: url(../image/background1.png);
    background-color: blue;
}
/*============== END MAIN ==================*/
/*============== HEADER ==================*/

header{
    background-image: url(../image/dannyheaderHack.png);
    background-size: 200px,200px;
    padding-top: 500px;
}
header button{
    display: none;
    color : #fff;
    position: absolute;
    background-color: transparent;
    width:150px;
    height:50px;
    border : solid 1px #FEFEFE;
    margin-top: 80px;
    right:80px;
}
header ul{
    display: none;
    margin-left: 75px;

}
.cadeau1{
    display: none;
}

.cadeau2{
    display: none;
}

header li{
    font-size: 25px;
    display: block;
    margin-left: 1px;
    width: 20%;
    height:50px;
    background-color: floralwhite;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;  /* Padding top - text size */
}
header li:first-of-type{
    border-top-left-radius: 5px;
}
header a{
    font-size: 20px;
    text-decoration: none;
    color: #3B3F42;
}
header i{
    position: absolute;
    top: 70px;
    left: 200px;
    font-size: 40px;
    width: 600px;
}

.logo{
    margin:75px;
    display: none;
}
#trirectheader, #firtliheader{
     margin-left: 0px;
 }
#trirectheader{
    height: 70px;
}
.dany{
    width:300px;
    position:absolute;
    margin-top: -90px;
    margin-left: 65%;
}
.dany img{
    height: 80px;
    display: none;
}
.dany p{
    background-color: #FEFEFE;
    color : #3B3F42;
    width:250px;
    height:90px;
    text-align: center;
    margin-left: 50px;
}
/*============== ARTICLE ==================*/
article{
    display: flex;
    flex-direction: column;
}
section{
    display: block;
    position: relative;
}
section h1{
    display: none;
}

.sectionleft{
    float: left;
    width:70%;
    background-image: url(../image/dannyheader.png);
    background-size: 200px,200px;
    padding-top: 500px;
    margin: 0;
}
.sectionleft h1, .sectionleft p{
    display:none;
}
.sectionright{
    width:30%;
    float: right;
    background-image: url(../image/dannyheader.png);
    background-size: 200px,200px;
    padding-top: 500px;
    margin: 0;
}
.sectionleft p{
    margin-bottom: 10px;
    margin-left: 10px;
}
.popup{
    display: none;
    width:250px;
    margin-top: 10px;
    margin-left:10%;
    color : #3B3F42;
    background-color: #FEFEFE;
    border:solid 1px #000;
    box-shadow: 5px 5px 5px #ccc;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.sectionright img{
    position: absolute;
    height: 45px;
    margin-top:-10px;
    width:auto;
    margin-left:-2px;
    display: none;
}
/*============== END ARTICLE ==================*/



/*============== END HEADER ==================*/
/*============== FOOTER ==================*/
/*============== END FOOTER ==================*/